@use "../theme/includes" as t;

.dash-main {
    &_graph {
        canvas {
            border-radius: t.$border-radius-base;
            padding: .5rem;
            background-color: white;
        }
    }
}