@use "../theme/includes" as t;

.dash-main {
    &_graph {
        canvas {
            border-radius: t.$border-radius-base;
            padding: 2rem;
            background: t.$gradient-light-red;
            @include t.interface-shadow();
        }
    }
}