@use "../theme/includes" as t;

.dash-board {
    background: t.$gradient-bg;
    color: white;
    
    &_measurements {
        animation: boardInitializer .3s ease-in-out forwards;
        min-height: 90%;
        background: t.$gradient-shift;
        border-radius: t.$border-radius-base;
        padding: 2rem 1.5rem;
        @include t.interface-shadow();

        display: grid;
        grid-template-columns: 1fr 3fr;

        .latest {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: t.$border-radius-base;
            

            &_box {
                display: inline-flex;
                justify-content: center;
                padding: 1rem 3rem;
                border-radius: t.$border-radius-base;
                background-color: t.$bg-dark;
                animation: fadeIn .3s ease-in;

                gap: 12px;
                @include t.interface-shadow();
                align-items: center;

                svg {
                    animation: fadeIn .3s ease-in forwards;
                    stroke: transparent;
                }
            }

            .btn-refresh {
                display: inline-flex;
                align-items: center;
                border-radius: t.$border-radius-base;
                background-color: t.$accent-red;
                border: 0;
                transition: background-color ease-in .3s;
                padding: 0.4rem 1rem;
                color: white;
                outline: none;

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0 2px black;
                    background-color: t.$accent-orange;
                }
            }
        }

    }
}