@use "../theme/includes" as t;

.dash-board {
    background: t.$gradient-bg;
    color: white;
    
    &_measurements {
        animation: boardInitializer .3s ease-in-out forwards;
        min-height: 90%;
        background: t.$gradient-shift;
        border-radius: t.$border-radius-base;
        padding: 2rem 1.5rem;
        @include t.interface-shadow();

        display: flex;
        flex-direction: column;
        gap: 3rem;



        .latest {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            border-radius: t.$border-radius-base;
            

            h4 {
                width: 100%;
                margin: 0;
                text-align: center;
            }

            &_measurements {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 1rem;
            }

            &_interface {
                display: flex;
                gap: 1rem;
                justify-content: center;
            }

            &_box {
                display: inline-flex;
                justify-content: center;
                padding: 1rem 3rem;
                border-radius: t.$border-radius-base;
                background-color: t.$bg-dark;
                animation: fadeIn .3s ease-in;

                gap: 150px;
                @include t.interface-shadow();
                align-items: center;

                svg {
                    animation: fadeIn .3s ease-in forwards;
                    stroke: transparent;
                }
            }

            &_prediction {
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1rem 3rem;
                border-radius: t.$border-radius-base;
                background-color: t.$bg-dark;
                @include t.interface-shadow();
            }

            .btn-refresh {
                display: inline-flex;
                align-items: center;
                border-radius: t.$border-radius-base;
                background-color: t.$accent-red;
                border: 0;
                transition: background-color ease-in .3s;
                padding: 0.4rem 1rem;
                color: white;
                outline: none;
                padding: 0,5rem;
                

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0 2px black;
                    background-color: t.$accent-orange;
                }
            }
        }
    }

    &_regression {
        &-predictions {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 3rem;

            canvas {
                max-width: 100%;
                height: auto !important;
                border-radius: t.$border-radius-base;
                padding: 2rem;
                background: t.$gradient-light-red;
                @include t.interface-shadow();
            }
        }
    }
}