@use "../theme/includes" as t;

.video-player {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: t.$gradient-shift;
    border-radius: t.$border-radius-base;
    padding: 1.5rem;
    @include t.interface-shadow();

    &__title {
        margin: 0;
        color: t.$text-primary;
        font-family: t.$font-family-base;
    }

    &__video {
        width: 50%;
        aspect-ratio: 16/9;
        border-radius: t.$border-radius-base;
        background-color: t.$bg-dark;
        outline: none;

        &:focus-visible {
            box-shadow: 0 0 0 2px t.$accent-blue;
        }
    }
}