@use "../theme/includes" as t;

.button-primary {
    background: t.$gradient-primary;
    color: white;
    font-weight: 600;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: t.$border-radius-base;
    cursor: pointer;
    @include t.hover-lift;
}

.button-accent {
    background: t.$gradient-energy;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: t.$border-radius-base;
    cursor: pointer;
    @include t.hover-lift;
}