@use "../theme/includes" as t;

.button-primary {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: black;
    text-align: start;
    font-weight: 600;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    @include t.hover-lift;
}

.button-accent {
    background: t.$gradient-energy;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: t.$border-radius-base;
    cursor: pointer;
    @include t.hover-lift;
}