@use "../theme/includes" as t;

.dash {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    background: t.$gradient-bg;

    @include t.tablet-view {
        grid-template-columns: 3fr 9fr;
    }

    &-main {
        overflow-x: scroll;
        color: white;
        
        &_graph {
            max-width: 100%;
            height: 50%;
        }
    }
}