@use "../theme/includes" as t;

.dash {
    display: grid;
    grid-template-columns: 0 1fr;

    @include t.tablet-view {
        grid-template-columns: 3fr 9fr;
    }

    &-main {
        overflow-x: scroll;
        
        &_graph {
            max-width: 100%;
            height: 50%;
        }
    }
}