.dash-sidebar {
    background-color: white;
    border-radius: 0 1.2rem 1.2rem 0;
    box-shadow: 0 0 5px black;
    display: flex;
    padding-block: 3rem;
    padding-inline: 1.5rem;
    gap: 16px;
    flex-direction: column;
    min-height: 100vh;
}