@use "../theme/includes" as t;

.dash-sidebar {
    background-color: white;
    border-radius: 0 1.2rem 1.2rem 0;
    box-shadow: 0 0 5px black;
    display: flex;
    gap: 16px;
    flex-direction: column;
    
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: translate 2s ease-in-out;

    &.active {
        width: 30%;
        transform: translate(0);
    }

    @include t.tablet-view {
        position: relative;
        transform: translate(0);
    }

    &_logo {
        width: 60%;
        margin-inline: auto;
        height: auto;
    }
}