<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'dist/assets/index.css' %}">
   <script defer type="module" src="{% static 'dist/assets/index.js' %}"></script>
   <title>Dashboard</title>
</head>
<body>
   <nav class="navbar GPIO_navigation">
      <div class="container-fluid">
         <ul>
            <li>
               <a href="temperature">Temperature</a>
            </li>
            <li>
               <a href="humidity">Humidity</a>
            </li>
            <li>
               <a href="voc">VOC</a>
            </li>
         </ul>
      </div>
   </nav> 
   <main>
      <h1>Value of today</h1>
      <button id="fetchTemperatures" class="btn-primary">Werte</button>
      <div>
         <canvas id="myChart"></canvas>
      </div>
   </main>
</body>
</html>